In [1]:
import pandas as pd

In [2]:
data_path = '../sql/data/'

In [3]:
df_products = pd.read_csv(f'{data_path}PRODUCTS_.csv',sep=',')
df_products.head()

,gtin,categoryParent,colorLabel,modelLabel,productLabelLong,sizeLabel,productCode
0,795570602555,710-LS WOVENS,126,4HRW7018,LS SNS DOBBY TEXT - BRIGHT WHITE - 4HRW7018,M,795570602555
1,795570643275,730-POLOS,10,4HRK7125,SS SLD 3BTN PLO REC - BLACK - 4HRK7125,S,795570643275
2,713610532624,910-WOVENS,996,CUWFC21B,SS L/C DOBBY CAMP COLLAR SHIRT - SPELLBOUND - ...,3XLT,713610532624
3,795570983463,710-LS WOVENS,394,4IRW7001,LS NON-IRON TWILL - GOBLIN BLUE - 4IRW7001,XXL,795570983463
4,795570916591,910-WOVENS,684,C9HW0035,LS LINEN GUAYABERA - PINK DOGWOOD - C9HW0035,L,795570916591

In [4]:
df_sales = pd.read_csv(f'{data_path}SALES_.csv',sep=',')
df_sales.head()

         date  site_code           sku  sales_qty
0  2024-11-14        524  7.955708e+11          1
1  2024-11-13        549  9.859310e+10          3
2  2024-11-14        615  8.497195e+10          1
3  2024-11-12        524  9.483317e+10          1
4  2024-11-14        510  8.889878e+11          1

In [5]:
df_soh = pd.read_csv(f'{data_path}SOH_.csv',sep=',')
df_soh.head()

   site_code           sku  quantity        date
0        656  889817847356         1  2024-11-13
1        656  889817862526         1  2024-11-13
2        602  795570614480         1  2024-11-13
3        602  888987937010         1  2024-11-13
4        526   53475636946         1  2024-11-13

In [2]:
!pip install duckdb

Requirement already satisfied: duckdb in c:\python311\lib\site-packages (1.2.0)

WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Python311\Lib\site-packages)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import duckdb

# Connect to a database (creates a file-based database if it doesn't exist)
conn = duckdb.connect('products_sales.db')

In [3]:
# Create tables
conn.execute("""
CREATE TABLE PRODUCTS_ (
    gtin BIGINT PRIMARY KEY,
    categoryParent VARCHAR(50),
    colorLabel INT,
    modelLabel VARCHAR(20),
    productLabelLong VARCHAR(100),
    sizeLabel VARCHAR(5),
    productCode BIGINT
);
""")

conn.execute("""
CREATE TABLE SALES_ (
    date DATE,
    site_code INT,
    sku BIGINT,
    sales_qty INT
);
""")

conn.execute("""
CREATE TABLE SOH_ (
    site_code INT,
    sku BIGINT,
    quantity INT,
    date DATE
);
""")

In [9]:
# Load SALES_ data
conn.execute("""
    COPY SALES_ FROM 'data/SALES_.csv' (AUTO_DETECT TRUE, HEADER TRUE);
""")

In [11]:
# Load PRODUCTS_ data
conn.execute("""
    COPY PRODUCTS_ FROM 'data/PRODUCTS_.csv' (AUTO_DETECT TRUE, HEADER TRUE);
""")

# Load SOH_ data
conn.execute("""
    COPY SOH_ FROM 'data/SOH_.csv' (AUTO_DETECT TRUE, HEADER TRUE);
""")

In [10]:
print(conn.execute("SELECT * FROM SALES_ LIMIT 5").fetchdf())

        date  site_code           sku  sales_qty
0 2024-11-14        524  795570789591          1
1 2024-11-13        549   98593095718          3
2 2024-11-14        615   84971953411          1
3 2024-11-12        524   94833171273          1
4 2024-11-14        510  888987766696          1

In [12]:
print(conn.execute("SELECT * FROM PRODUCTS_ LIMIT 5").fetchdf())

           gtin categoryParent  colorLabel modelLabel  \
0  795570602555  710-LS WOVENS         126   4HRW7018
1  795570643275      730-POLOS          10   4HRK7125
2  713610532624     910-WOVENS         996   CUWFC21B
3  795570983463  710-LS WOVENS         394   4IRW7001
4  795570916591     910-WOVENS         684   C9HW0035

                                    productLabelLong sizeLabel   productCode
0        LS SNS DOBBY TEXT - BRIGHT WHITE - 4HRW7018         M  795570602555
1             SS SLD 3BTN PLO REC - BLACK - 4HRK7125         S  795570643275
2  SS L/C DOBBY CAMP COLLAR SHIRT - SPELLBOUND - ...      3XLT  713610532624
3         LS NON-IRON TWILL - GOBLIN BLUE - 4IRW7001       XXL  795570983463
4       LS LINEN GUAYABERA - PINK DOGWOOD - C9HW0035         L  795570916591

In [13]:
print(conn.execute("SELECT * FROM SOH_ LIMIT 5").fetchdf())

   site_code           sku  quantity       date
0        656  889817847356         1 2024-11-13
1        656  889817862526         1 2024-11-13
2        602  795570614480         1 2024-11-13
3        602  888987937010         1 2024-11-13
4        526   53475636946         1 2024-11-13

In [14]:
##1. Products with sales but no stock at any site

products_with_sales = "WITH latest_stock AS ( \
                            SELECT DISTINCT sku \
                            FROM SOH_ \
                                WHERE date = (SELECT MAX(date) FROM SOH_) \
                                AND quantity > 0 \
                                ) \
                                    SELECT DISTINCT \
                                        s.sku, \
                                        p.productLabelLong, \
                                        p.categoryParent \
                                    FROM SALES_ s \
                                    LEFT JOIN latest_stock ls ON s.sku = ls.sku \
                                    JOIN PRODUCTS_ p ON s.sku = p.gtin \
                                    WHERE ls.sku IS NULL;"

In [15]:
print(conn.execute(products_with_sales).fetchdf())

            sku                                 productLabelLong  \
0  795570518979             SS TEXT BLCK CREW - EGRET - 4HSK7152
1  795570519037  SS TEXT BLCK CREW - BITTER CHOCOLATE - 4HSK7152

  categoryParent
0   732-T-SHIRTS
1   732-T-SHIRTS

In [16]:
# Close the connection
conn.close()